$primaryFont: 'Roboto', sans-serif;

$bodyBackgroundImage: url("../img/resource/bgr.svg");
$bodyBackgroundColor: #FFFFFF;
$appBackgroundColor: #f2f5f7;

$normalTextColor: #8B939C;
$strongTextColor: #3d4954;

$borderColor: #b8bec3;

// Header
$headerHeight: 70px;